extends layout

block content
    h1= title
    p Welcome to #{data.name}

    h2 Update Information
    form#createRecipe(method='post' action="/users/edit")
        | Recipe Name:
        br
        input(type='hidden' name='id' value=data.id)
        input(type='text' name='name' value=data.name)
        br
        |                   Ingredients:
        br
        input(type='text' name='ingredients' value=data.ingredients)
        br
        br
        button(type='submit') Submit